# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# PyCharm
.idea/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache/
